<launch>
  <!-- local machine already has a definition by default.
       This tag overrides the default definition with
       specific ROS_ROOT and ROS_PACKAGE_PATH values -->
  <machine name="local_alt" address="localhost" default="true"/>

  <!-- odometry broadcast node debug mode 	-->
  <node name="april_tags" pkg="april_tags" type="april_tags_node" output="screen">
      <param name="imageTopic" value="camera/image_raw"/>
  </node>
</launch>
