<launch>
  <include file="$(find global_planner)/launch/computers.machine" />

  <!-- <arg name="imageTopic" default="camera/rgb/image_color"/> -->
  <!-- <arg name="imageFrame" default="camera_rgb_frame"/> -->
  <arg name="imageTopic" default="camera/image_raw"/>
  <arg name="imageFrame" default="camera_link"/>
  <arg name="focalLength" default="554"/>
  <arg name="tagFamily" default="36h11"/>
  <arg name="width" default="640"/>
  <arg name="height" default="480"/>
  <arg name="tagSize" default="0.16992"/>
  <arg name="draw" default="false"/>
  <arg name="tf_prefix" default=""/>

  <arg name="machineName" default="localhost"/>

  <!-- odometry broadcast node debug mode -->
  <node name="april_tags" pkg="april_tags" type="april_tags_node" output="screen" machine="$(arg machineName)">
        <!-- Image topic to listen to -->
        <param name="imageTopic" value="$(arg imageTopic)" />
        <!-- tf frame of the camera's optical frame -->
        <param name="imageFrame" value="$(arg imageFrame)" />
        <!-- Focal lengths: kinect = 525, gazebo = 554, logitech = 790 -->
        <param name="focalLength" value="$(arg focalLength)" />
        <param name="tagFamily" value="$(arg tagFamily)" />
        <param name="width" value="$(arg width)" />
        <param name="height" value="$(arg height)" />
        <param name="tagSize" value="$(arg tagSize)" />
        <param name="draw" value="$(arg draw)" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
  </node>
</launch>
