<launch>
  <!-- local machine already has a definition by default.
       This tag overrides the default definition with
       specific ROS_ROOT and ROS_PACKAGE_PATH values -->
  <machine name="local_alt" address="localhost" default="true"/>

  <!-- odometry broadcast node debug mode 	-->
  <node name="apriltags_node" pkg="apriltags" type="apriltags_node" >
  </node>

  <!-- April tag landmark broadcasters x, y, z, rotate in x, y, z
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_3" args="5.04 1.05 0.4 0 0 0 map landmark_3 100" />
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_5" args="0.00 2.47 0.4 0 0 0 map landmark_5 100" />
  -->

  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_3" args="2.3 -0.5 0.4 0 0 0 map landmark_3 100" />
  <node pkg="tf" type="static_transform_publisher" name="april_tag_landmark_5" args="-2.58 0.835 0.4 0 0 0 map landmark_5 100" />

</launch>
